body{
    font-family: "Inter";
    font-size: 18px;
    margin-top: 1.1em;
    margin-left: 1.33em;
    background-color: #eee;
}

.top{
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 12px;
    padding: 0.5em;
}

ul{
    padding-left: 0em;
    margin: 0em;
}
li{
    display: inline;
}

h1{
    margin-block-start: 0.33em;
    margin-block-end: 0.1em;
}

.subtitle{
    display: block;
    margin-block-end: 0.5em;
}

.edittips{
    font-size: 16px;
    display: none;
}

.bottom{
    font-size: 16px;
}
